<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Score : {{score}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-progress-bar style="height: 10px;" [value]="timer.current/timer.max" 
[color]="(timer.current/timer.max<0.2) ? 'danger':'warning'">
</ion-progress-bar>
<ion-content class="ion-padding">
  <ion-grid fixed>
    <div *ngFor="let q of questions ; let i = index" class="fade-in">
      <ion-row class="ion-text-center">
        <ion-col>
          <ion-text color="primary">
            <h2>{{q.label}} = </h2>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center">
        <ion-col *ngFor="let a of q.answers ; let j = index">
          <ion-text color="tertiary">
            <h2 [id]="'id'+i+j" (click)="clickAnswer(i, j, a, q)">{{a.value}}</h2>
          </ion-text>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="help-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="tertiary" (click)="startGame()">
      <ion-icon name="sync-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="tertiary">
      <ion-icon name="information-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>